#container{
    border: 1px solid red;
    width:50%;
    box-shadow: whitesmoke;
     margin: auto; 
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
  
    
    }
    form{
       /* border-radius: 10px; */
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    button{
        background-color: lightgreen;
        margin-top: 2px;
        border-radius: 30%;
    }
    input{
        border-radius: 5%;
    }
    label{
        color:blueviolet;
    }
  ul{
    width:90%;
    margin:auto

  }